body {
    font: 24px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.pool {
    border:1px solid darkblue;
}

.cards {
    border:1px solid gold;
}

.card-list-entry {
    border:1px solid black;
}

.card-suggest {
    border:1px solid green;
}